@import './theme.scss';

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--#{$prefix}-scrollbar-thumb-color);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--#{$prefix}-scrollbar-thumb-color-hover);
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@mixin reset {
  // 初始化表格样式
  table,
  thead,
  tbody,
  tfoot,
  th,
  tr,
  td {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    // 不能用表格的边框，样式不好看
    border: unset;
  }
}

// 顶层元素
.vtg-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;

  @include reset;
  @include scrollbar;
}

// 主体容器
.vtg-main {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  font-size: 14px;
  border: 1px solid transparent;

  // 边框样式
  &.vtg-main--border {
    border-color: var(--#{$prefix}-border-color);

    th.vtg-th {
      border-color: var(--#{$prefix}-border-color);
    }

    td.vtg-td {
      border-color: var(--#{$prefix}-border-color);
    }
  }

  // highlight
  // hover
  &.vtg-main--highlight-hover-row {
    tr.vtg-tr:hover {
      & > td.vtg-td {
        background-color: var(--#{$prefix}-row-hover-bg-color);
      }
    }
  }
  // select
  &.vtg-main--highlight-select-row {
    tr.vtg-tr.current-row {
      td.vtg-td {
        background-color: var(--#{$prefix}-current-row-bg-color);
      }
    }
  }
  &.vtg-main--highlight-select-col {
    td.vtg-td.current-column {
      background-color: var(--#{$prefix}-current-column-bg-color);
    }
  }
  &.vtg-main--highlight-select-cell {
    tr.vtg-tr.current-row td.vtg-td.current-column {
      position: relative;

      &::after {
        box-sizing: border-box;
        display: block;
        content: ' ';
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        position: absolute;
        left: -1px;
        top: -1px;
        pointer-events: none;
        border: 2px solid red;
      }
    }
  }
}

.vtg-mask {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--#{$prefix}-header-text-color);
}

// 表格
table.vtg-table {
  display: table;
  // 解决列冻结border问题
  border-collapse: separate;
  min-width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  outline: none;
  background-color: var(--#{$prefix}-bg-color);

  // 固定列样式
  .vtg-th.is-fixed--left.is-last-column::before,
  .vtg-th.is-fixed--right.is-first-column::before,
  .vtg-td.is-fixed--left.is-last-column::before,
  .vtg-td.is-fixed--right.is-first-column::before {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    bottom: -1px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: none;
    touch-action: none;
    pointer-events: none;
  }

  .vtg-th.is-fixed--left.is-last-column::before,
  .vtg-td.is-fixed--left.is-last-column::before {
    right: -10px;
  }

  .vtg-th.is-fixed--right.is-first-column::before,
  .vtg-td.is-fixed--right.is-first-column::before {
    left: -10px;
  }

  &.is-scrolling-none {
    .vtg-th.is-fixed--left.is-last-column::before,
    .vtg-td.is-fixed--left.is-last-column::before,
    .vtg-th.is-fixed--right.is-first-column::before,
    .vtg-td.is-fixed--right.is-first-column::before {
      box-shadow: none;
    }
  }

  &.is-scrolling-left {
    .vtg-th.is-fixed.is-fixed--right.is-first-column::before,
    .vtg-td.is-fixed.is-fixed--right.is-first-column::before {
      box-shadow: var(--#{$prefix}-fixed-right-column);
    }
  }

  &.is-scrolling-right {
    .vtg-th.is-fixed.is-fixed--left.is-last-column,
    .vtg-td.is-fixed.is-fixed--left.is-last-column {
      border-right: 0;
      &::before {
        box-shadow: var(--#{$prefix}-fixed-left-column);
      }
    }
  }

  &.is-scrolling-middle {
    .vtg-th.is-fixed.is-fixed--right.is-first-column::before,
    .vtg-td.is-fixed.is-fixed--right.is-first-column::before {
      box-shadow: var(--#{$prefix}-fixed-right-column);
    }
    .vtg-th.is-fixed.is-fixed--left.is-last-column,
    .vtg-td.is-fixed.is-fixed--left.is-last-column {
      border-right: 0;
      &::before {
        box-shadow: var(--#{$prefix}-fixed-left-column);
      }
    }
  }
}

// 表头属性
thead.vtg-header {
  z-index: 6;
  position: sticky;
  top: 0;
  background-color: var(--#{$prefix}-header-bg-color);
  color: var(--#{$prefix}-header-text-color);

  tr.vtg-tr {
    box-sizing: border-box;
  }

  th.vtg-th {
    box-sizing: border-box;
    font-weight: 600;
    border-bottom: var(--#{$prefix}-border);
    border-right: 1px solid transparent;
    height: 36px;
    min-width: 0;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    z-index: 1;

    .vtg-th-cell {
      padding: 8px 12px;

      &.vtg-th-cell__checkbox {
        // text-align: center;

        .vtg-th-cell__checkbox-title {
          margin-left: 4px;
        }
      }
    }

    &.is-fixed {
      z-index: 4;
      position: sticky;
      background-color: var(--#{$prefix}-header-bg-color);
    }
  }
}

// 表格内容
tbody.vtg-body {
  tr.vtg-tr {
    box-sizing: border-box;
    background-color: var(--#{$prefix}-tr-bg-color);

    &.vtg-tr--striped {
      td.vtg-td {
        background-color: var(--#{$prefix}-row-stripe-bg-color);
      }
    }

    &:hover {
      td.vtg-td.vtg-td--expand {
        background-color: var(--#{$prefix}-expanded-cell-bg-color);
      }
    }
  }

  td.vtg-td {
    border-bottom: var(--#{$prefix}-border);
    border-right: 1px solid transparent;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;
    z-index: 1;

    &:has(.vtg-cell__index) {
      z-index: var(--#{$prefix}-index);
    }

    &.vtg-td--expand {
      background-color: var(--#{$prefix}-expanded-cell-bg-color);
    }

    &.vtg-td--group {
      div.vtg-cell {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 4px;
      }
    }

    &.is-fixed {
      z-index: 4;
      position: sticky;
      background-color: var(--#{$prefix}-bg-color);
    }

    // 框选
    &.box-selection {
      z-index: 2;
      background-color: var(--#{$prefix}-select-bg-color) !important;

      &::after {
        display: block;
        content: ' ';
        z-index: -1;
        position: absolute;
        pointer-events: none;
        height: calc(100% + 2px);
        width: calc(100% + 2px);
        left: -1px;
        box-sizing: border-box;
        top: -1px;
        border: 0 solid var(--#{$prefix}-select-border-color);
      }

      &.box-selection__left-top {
        &::after {
          border-left-width: 2px;
          border-top-width: 2px;
        }
      }

      &.box-selection__top {
        &::after {
          border-top-width: 2px;
        }
      }

      &.box-selection__right-top {
        &::after {
          border-right-width: 2px;
          border-top-width: 2px;
        }
      }

      &.box-selection__right {
        &::after {
          border-right-width: 2px;
        }
      }

      &.box-selection__right-bottom {
        &::after {
          border-right-width: 2px;
          border-bottom-width: 2px;
        }
      }

      &.box-selection__bottom {
        &::after {
          border-bottom-width: 2px;
        }
      }

      &.box-selection__left-bottom {
        &::after {
          border-left-width: 2px;
          border-bottom-width: 2px;
        }
      }

      &.box-selection__left {
        &::after {
          border-left-width: 2px;
        }
      }
    }
  }

  // 文本溢出隐藏
  td.overflow-ellipsis {
    div.vtg-cell {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 8px 12px;
      white-space: nowrap;
    }
  }

  div.vtg-cell {
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
    padding: 4px 6px;

    &.vtg-cell__index {
      text-align: center;
      padding: 0;
    }

    &.vtg-cell__checkbox {
      // text-align: center;

      .vtg-cell__checkbox-field {
        margin-left: 4px;
      }
    }
  }

  // 空白填充
  .placement {
    width: 20px;
    height: 100%;

    display: flex;
    justify-content: center;

    &.placement--tree-line::before {
      content: ' ';
      position: absolute;
      border-right: 1px dashed var(--#{$prefix}-tree-line-color);
      height: 100%;
      width: 2px;
      top: 0;
    }

    &.placement--last-tree-node::before {
      height: 50%;
    }

    &.placement--last-padding::after {
      content: ' ';
      position: absolute;
      border-top: 1px dashed var(--#{$prefix}-tree-line-color);
      height: 0;
      width: 8px;
      transform: translateX(5px);
    }
  }

  // 分组icon
  .group-icon {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    &.group-icon--expand {
      transform: rotate(90deg);
    }
  }

  // 树形节点icon
  .tree-leading {
    width: 20px;
    height: 100%;

    .tree-leading-icon {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &.tree-leading-icon--expand {
        transform: rotate(90deg);
      }
    }

    &.tree-leading--tree-line::after {
      display: block;
    }

    &.tree-leading--tree-line-hide::after {
      display: none;
    }

    &.tree-leading--first-node:not(:has(.tree-leading-icon)) {
      display: none;
    }

    &:not(:has(.tree-leading-icon))::after {
      content: ' ';
      border-top: 1px dashed var(--#{$prefix}-tree-line-color);
      position: absolute;
      width: 8px;
      height: 0;
    }

    &:has(.tree-leading-icon--expand)::after {
      content: ' ';
      border-right: 1px dashed var(--#{$prefix}-tree-line-color);
      position: absolute;
      width: 2px;
      height: calc(50% - 10px);
      transform: translateX(9px);
    }
  }

  // 展开行icon
  .row-expand-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    &.row-expand-icon--expand {
      transform: rotate(90deg);
    }
  }
}

// popper
.vtg-popper-container {
  z-index: 5;
  position: absolute;
  background-color: #fff;
  border: 2px solid var(--#{$prefix}-select-border-color);
}

// TODO
.vtg-popper-cell {
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  // line-height: 23px;
  padding: 8px 12px;

  &.vtg-cell__index {
    text-align: center;
    padding: 0;
  }

  &.vtg-cell__checkbox {
    // text-align: center;

    .vtg-cell__checkbox-field {
      margin-left: 4px;
    }
  }
}

.vtg-fixed-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 7;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    bottom: -1px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: none;
    touch-action: none;
    pointer-events: none;
    box-shadow: none;
  }
}

.vtg-fixed-shadow--left {
  &::before {
    box-shadow: var(--#{$prefix}-fixed-left-column);
  }
}

.vtg-fixed-shadow--right {
  &::before {
    box-shadow: var(--#{$prefix}-fixed-right-column);
  }
}
