$prefix: 'kita-grid';

:root {
  // 表格元素层级
  --#{$prefix}-index-normal: 1;
  // 表格边框颜色
  --#{$prefix}-border-color: #ebeef5;
  // 表格边框
  --#{$prefix}-border: 1px solid var(--#{$prefix}-border-color);
  // 表格字体颜色
  --#{$prefix}-text-color: #606266;
  // 表头字体颜色
  --#{$prefix}-header-text-color: #909399;
  // 表格行hover高亮背景
  --#{$prefix}-row-hover-bg-color: #f5f7fa;
  // 表格行斑马纹高亮背景
  --#{$prefix}-row-stripe-bg-color: #fafafa;
  // 行选中背景
  --#{$prefix}-current-row-bg-color: #fff7e6;
  // 列选中背景
  --#{$prefix}-current-column-bg-color: #fff7e6;
  // 表头背景
  --#{$prefix}-header-bg-color: #ffffff;
  // 表格固定列阴影
  --#{$prefix}-fixed-box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);
  // 表格背景颜色
  --#{$prefix}-bg-color: #ffffff;
  // 表格行背景颜色
  --#{$prefix}-tr-bg-color: #ffffff;
  // 表格展开列背景颜色
  --#{$prefix}-expanded-cell-bg-color: #ffffff;
  // 左固定列边框样式
  --#{$prefix}-fixed-left-column: inset 10px 0 10px -10px rgba(0, 0, 0, .15);
  // 右固定列边框样式
  --#{$prefix}-fixed-right-column: inset -10px 0 10px -10px rgba(0, 0, 0, .15);
  // 索引列层级
  --#{$prefix}-index: var(--#{$prefix}-index-normal);
  // 区域选中边框样式
  --#{$prefix}-select-border-color: #409eff;
  // 区域选中背景
  --#{$prefix}-select-bg-color: #ecf5ff;
  // 滚动条滑块颜色
  --#{$prefix}-scrollbar-thumb-color: rgba(182, 185, 192, 0.3);
  // 滚动条滑块hover颜色
  --#{$prefix}-scrollbar-thumb-color-hover: rgba(182, 185, 192, 0.5);
  // 树状连线颜色
  --#{$prefix}-tree-line-color: #303133;
}

html.dark {
  // 表格边框颜色
  --#{$prefix}-border-color: #363637;
  // 表格边框
  --#{$prefix}-border: 1px solid var(--#{$prefix}-border-color);
  // 表格字体颜色
  --#{$prefix}-text-color: #cfd3dc;
  // 表头字体颜色
  --#{$prefix}-header-text-color: #a3a6ad;
  // 表格行hover高亮背景
  --#{$prefix}-row-hover-bg-color: #262727;
  // 表格行斑马纹高亮背景
  --#{$prefix}-row-stripe-bg-color: #1d1d1d;
  // 行选中背景
  --#{$prefix}-current-row-bg-color: #2b2211;
  // 行选中背景
  --#{$prefix}-current-column-bg-color: #2b2211;
  // 表头背景
  --#{$prefix}-header-bg-color: #141414;
  // 表格固定列阴影
  --#{$prefix}-fixed-box-shadow: 0px 0px 12px rgba(0, 0, 0, .72);
  // 表格背景颜色
  --#{$prefix}-bg-color: #141414;
  // 表格行背景颜色
  --#{$prefix}-tr-bg-color: #141414;
  // 表格展开列背景颜色
  --#{$prefix}-expanded-cell-bg-color: #141414;
  // 左固定列边框样式
  --#{$prefix}-fixed-left-column: inset 10px 0 10px -10px rgba(0, 0, 0, .15);
  // 右固定列边框样式
  --#{$prefix}-fixed-right-column: inset -10px 0 10px -10px rgba(0, 0, 0, .15);
  // 索引列层级
  --#{$prefix}-index: var(--#{$prefix}-index-normal);
  // 区域选中边框样式
  --#{$prefix}-select-border-color: #409eff;
  // 区域选中背景
  --#{$prefix}-select-bg-color: #18222c;
  // 滚动条滑块颜色
  --#{$prefix}-scrollbar-thumb-color: rgba(163, 166, 173, 0.3);
  // 滚动条滑块hover颜色
  --#{$prefix}-scrollbar-thumb-color-hover: rgba(163, 166, 173, 0.5);
  // 树状连线颜色
  --#{$prefix}-tree-line-color: #4c4d4f;
}
