@import '../../styles/theme.scss';

.gird-column-resize-trigger {
  position: absolute;
  width: 4px;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  display: inline-block;

  &.is-opacity {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 50%;
      transform: translateY(-50%);
      background-color: var(--#{$prefix}-border-color);
      display: inline-block;
      width: 1px;
    }
  }
}

.gird-column-resize-line {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 2px;
  background-color: var(--#{$prefix}-select-border-color);
  z-index: 100;
}
